NEXT_PUBLIC_SANITY_PROJECT_ID=klr1np53
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-06-15
# Optional: only needed for preview/draft mode
# SANITY_API_READ_TOKEN=your-read-only-token
